{% extends "base.html" %}
{% block title %}Iblog{% endblock %}
{% block content %}
<div class="col-md-6 offset-3 mt-3">
    <section class="category">
        <div id="categoryCarousel" class="carousel slide border border-success-subtle" data-bs-ride="carousel">
            <div class="carousel-inner text-center">
                {% for c in category %}
        <div>
            <div class="row container m-5 ">
                <div class="col-7 mt-3 mb-3 text-center" style="color:white;">
                    <h1>{{ c.title }}</h1>
                    <p>{{ c.discription | truncatewords:30 | safe }}</p>
            <button href="/category_details" class="btn btn-primary">
                        <a href="{{c.urls}}" style="color: white; text-decoration: none;">Read more.. </a>
                    </button> 
                </div>
                <div class="col-4 mt-3">
                    <img src="/media/{{ c.image }}" style="width: 75%;" alt="category Image">
                </div>
            </div>
        </div>
        {% endfor %}
            </div>
        </div>
    </div>
</section>
</div>
</div>

{% endblock %}
